div {
    font-size:100%;
    font-family:Arial,sans-serif;
    background:#e0edc5;
}
table {
    border-collapse:collapse;
    font-size:12pt;
}
.title {
    font-family: verdana,arial,sans-serif;
    background:#055584;
    color:#c0e0f2;
    border-width: 1px;
    /*border-color: #a9c6c9;*/
    border-collapse: collapse;
    /*background-color:#c3dde0;*/
    border-bottom:3px solid #000;
}
td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a9c6c9;
    /*border-color: red;*/
    background:#c0e0f2;
}
caption {
    color: #055584;
    font-size: 1.25em;
    font-weight: bold;
    margin: 0 0 .5em;
    text-shadow: 1px 1px 1px #c0e0f2;
}
